/* include Inter font */
@import url("https://fonts.googleapis.com/css?family=Inter:400,600,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background: #303030;
  color: white;
  font-family: "Inter", sans-serif;
}
